<div id="menu">

  <div id="upload-menu" class="menu-item" jrUpload #upload="upload" (click)="uploadModal.style.display='block'">
    <h2></h2>
    <div #uploadModal class="w3-modal" [style.display]="image ? 'none' : 'block'">
      <div class="w3-modal-content w3-text-black">
        <header class="w3-container w3-theme-d4">
          <span (click)="uploadModal.style.display='none';$event.stopPropagation()" class="w3-button w3-display-topright">&times;</span>        
          <h3>Foto laden</h3>
        </header>
        <div class="w3-container w3-theme-l4">
          <p>Laad een foto van je ID.</p>
          <div id="fileUpload" class=" w3-padding-16">
            <label for="upload-input" id="upload-label" class="w3-button w3-theme" (click)="uploadInput.value=''">Foto kiezen ...</label>
            <input id="upload-input" #uploadInput type="file" accept='image/*' (change)="reset();upload.onChange($event);uploadModal.style.display='none'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="rotate-menu" class="menu-item" (click)="rotateRight()" *ngIf="image">
    <h2></h2>
  </div>

  <div id="draw-menu" class="menu-item" (click)="drawModal.style.display='block'" *ngIf="image">
    <h2></h2>
    <div #drawModal class="w3-modal">
      <div class="w3-modal-content w3-text-black">
        <header class="w3-container w3-theme-d4">
          <span (click)="drawModal.style.display='none';$event.stopPropagation();penWidthInput.value=penWidth" class="w3-button w3-display-topright">&times;</span>        
          <h3>Lijnen</h3>
        </header>
        <div class="w3-container w3-theme-l4">
          <div id="slidercontainer" class="w3-margin">
            <label for="pen-width" class="w3-padding-24">Pas lijndikte aan: {{penWidthInput.value}}</label>        
            <input id="pen-width" #penWidthInput type="range" min="4" max="40" value="15" (input)="penWidthInput.value" class="slider">
          </div>
          <button (click)="clearLines()" class="w3-margin w3-button w3-theme-l3" id="clear-lines-button">Wis de lijnen </button>
          <button (click)="setPenWidth(penWidthInput.value);drawModal.style.display='none';$event.stopPropagation();" id="draw-OK-button" class="w3-button w3-section w3-theme w3-margin float-right">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div id="watermark-menu" class="menu-item" (click)="watermarkModal.style.display='block'" *ngIf="image">
    <h2></h2>
    <div #watermarkModal class="w3-modal">
      <div class="w3-modal-content w3-text-black">
        <header class="w3-container w3-theme-d4">
          <span (click)="watermarkModal.style.display='none';$event.stopPropagation();" class="w3-button w3-display-topright">&times;</span>        
          <h3>Watermerk</h3>
        </header>
        <div class="w3-container w3-theme-l4">
          <p>Voeg korte tekst voor watermerk toe.</p>
          <textarea #input [attr.rows]="2" [value]="watermarkText" maxlength="50"></textarea>
          <div>
            <input #checkbox class="w3-check" type="checkbox" [checked]="dateChecked">
            <label>Datum toevoegen</label>
          </div>
          <button class="w3-button w3-section w3-theme-l3" (click)="input.value=''" id="clear-watermark-button">Wis tekst</button>
          <button (click)="changeWatermarkText(input.value, checkbox.checked);watermarkModal.style.display='none';$event.stopPropagation();" id="watermark-OK-button" class="w3-button w3-section w3-theme float-right">OK</button>   
        </div>
      </div>
    </div>
  </div>

  <div id="save-menu" class="menu-item" (click)="saveModal.style.display='block'" *ngIf="image">
    <h2></h2> 
    <div #saveModal class="w3-modal">
      <div class="w3-modal-content w3-text-black">
        <header class="w3-container w3-theme-d4">
          <span (click)="saveModal.style.display='none';$event.stopPropagation()" class="w3-button w3-display-topright">&times;</span>        
          <h3>Opslaan</h3>
        </header>
        <div class="w3-container w3-theme-l4">
          <p>Sla je ID kopie op.</p>
          <button id="save-OK-button" class="w3-button w3-section w3-theme" (click)="save();saveModal.style.display='none';$event.stopPropagation()">Sla op</button>
        </div>
      </div>
    </div>
  </div>

</div>