#menu {
  display: flex; 
  flex-flow: column;
}
@media (orientation: landscape) {
  .menu-item {
    margin: 15px 12px;
  }
}
@media (orientation: portrait) {
  #menu {
    flex-flow: row;
    justify-content: space-around;
  }
  .menu-item {
    margin: 12px 15px;
  }  
}

.w3-modal {
  display: none;
}
.w3-modal-content {
  max-width: 600px;
}

h2 {
  width: 21px;
  height: 21px;
  background-size: contain;
  margin: 0;
}
.menu-item h2:hover {
  cursor: pointer;
}
#home-menu h2 {
  background-image: url(/assets/icons-white/iconmonstr-home-6-64.png);
}
#upload-menu h2, #upload-label {
  background-image: url(/assets/icons-white/iconmonstr-picture-12-64.png);
}
#rotate-menu h2 {
  background-image: url(/assets/icons-white/iconmonstr-redo-2-64.png);
}
#draw-menu h2, #draw-OK-button {
  background-image: url(/assets/icons-white/iconmonstr-pencil-10-64.png);  
}
#watermark-menu h2, #watermark-OK-button {
  background-image: url(/assets/icons-white/iconmonstr-text-15-64.png);  
}
#save-menu h2, #save-OK-button {
  background-image: url(/assets/icons-white/iconmonstr-download-2-64.png);  
}
#clear-lines-button, #clear-watermark-button {
  background-image: url(/assets/icons-black/iconmonstr-x-mark-1-64.png);  
}

/* Html upload input cannot be styled with css. Don't display it and style the label instead (by w3 classes) */
#upload-input {
  display: none;
}

textarea {
  width:100%;
}

.float-right {
  float: right;
  clear: both;
}

.additional {
  font-size: 0.9em;
}

/* Background images for buttons */
#upload-label, #draw-OK-button, #watermark-OK-button, #save-OK-button {
  background-repeat: no-repeat;
  padding-left: 39px;
  background-size: 24px;
  background-position: 7px 7px;
}

#clear-lines-button ,#clear-watermark-button {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-size: 18px;
  background-position: 11px 11px;
}

/* Slider for lines setting (brush width) */
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 12px; /* Specified height */
  border-radius: 5px;
  background: #ddd; /* Grey background */
  outline: none; /* Remove outline */
  margin-top: 24px;
}
/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 50%;
  background: #27ae60; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 50%;
  background: #27ae60; /* Green background */
  cursor: pointer; /* Cursor on hover */
}