#menu {
  display: flex; 
  flex-flow: column;
}

#menu.portrait {
  flex-flow: row;
  justify-content: space-around;
}

#upload-input {
  display: none;
}

.w3-modal {
  display: none;
}
.w3-modal-content {
  max-width: 600px;
}

@media (orientation: landscape) {
  .menu-item {
    margin: 15px 12px;
  }
}

@media (orientation: portrait) {
  .menu-item {
    margin: 12px 15px;
  }  
}

textarea {
  width:100%;
}

h2 {
  width: 21px;
  height: 21px;
  background-size: contain;
  margin: 0;
}

#upload-menu h2 {
  background-image: url(/assets/icons-white/iconmonstr-picture-12-64.png);
}
#rotate-menu h2 {
  background-image: url(/assets/icons-white/iconmonstr-redo-2-64.png);
}
#draw-menu h2 {
  background-image: url(/assets/icons-white/iconmonstr-pencil-10-64.png);  
}
#watermark-menu h2 {
  background-image: url(/assets/icons-white/iconmonstr-text-3-64.png);  
}
#save-menu h2 {
  background-image: url(/assets/icons-white/iconmonstr-download-2-64.png);  
}

/* Slider for lines setting (brush width) */
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 12px; /* Specified height */
  border-radius: 5px;
  background: #ddd; /* Grey background */
  outline: none; /* Remove outline */
  margin-top: 24px;
}
/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 50%;
  background: #27ae60; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 50%;
  background: #27ae60; /* Green background */
  cursor: pointer; /* Cursor on hover */
}