/* You can add global styles to this file, and also import other style files */

/* green colors, w3-theme from w3-flat-neprhitis, #27ae60 */ 
.w3-theme-l5 {color:#000 !important; background-color:#f1fcf5 !important}
.w3-theme-l4 {color:#000 !important; background-color:#cff4de !important}
.w3-theme-l3 {color:#000 !important; background-color:#9fe9be !important}
.w3-theme-l2 {color:#000 !important; background-color:#6ede9d !important}
.w3-theme-l1 {color:#fff !important; background-color:#3ed37c !important}
.w3-theme-d1 {color:#fff !important; background-color:#249d56 !important}
.w3-theme-d2 {color:#fff !important; background-color:#208c4d !important}
.w3-theme-d3 {color:#fff !important; background-color:#1c7a43 !important}
.w3-theme-d4 {color:#fff !important; background-color:#18693a !important}
.w3-theme-d5 {color:#fff !important; background-color:#145730 !important}

.w3-theme {color:#fff !important; background-color:#27ae60 !important}

/* w3-flat grey colors */
.w3-flat-wet-asphalt {
  color: #fff;
  background-color: #34495e;
}
.w3-flat-midnight-blue {
  color: #fff;
  background-color: #2c3e50;
}
.w3-flat-clouds {
  color: #000;
  background-color: #ecf0f1;
}
.w3-flat-silver {
  color: #000;
  background-color: #bdc3c7;
}
.w3-flat-concrete {
  color: #fff;
  background-color: #95a5a6;
}
.w3-flat-asbestos {
  color: #fff;
  background-color: #7f8c8d;
}

body {
  background-color: #ecf0f1; /* w3-flat-clouds */
}