@import "~styles/variables.scss";

#app-container {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  max-width: $max-app-size;
  height: $max-app-size - $menu-size;
  
  jr-menu {
    height: auto;
    width: $menu-size;
  }

  @media (min-height: $max-app-size) {
    margin-top: 20px;
  }

  @media (min-height: $max-app-size) and (min-width: $max-app-size) {
    border: solid $app-border-width #000;
  }
}

#app-container.portrait {
  flex-flow:  column;
  max-width: $max-app-size - $menu-size;
  height: $max-app-size;

  jr-menu {
    height: $menu-size;
    width: auto;
  }
}