@import "~styles/variables.scss";

#app-container {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  max-width: $max-app-size;
  height: $max-app-size - $menu-size;
  background-color: #eee;

  jr-menu {
      height: auto;
  width: $menu-size;
  }
}

@media (max-width: $max-app-size) {

}

#app-container.portrait {
  flex-flow:  column;
  max-width: $max-app-size - $menu-size;
  height: $max-app-size;

  jr-menu {
    height: $menu-size;
    width: auto;
  }
}