@import "~styles/variables.scss";

#app-container {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  max-width: $max-app-size;
  max-height: $max-app-size - $menu-size;
  height: 100vh;
  overflow: hidden; /* otherwise app doesn't fill all device width on mobile device */

  @media (min-height: $max-app-size) {
    margin-top: 20px;
  }

  @media (min-height: $max-app-size) and (min-width: $max-app-size) {
    border: solid $app-border-width #000;
    border-radius: 4px;
  }
}

jr-menu {
  height: auto;
  width: $menu-size;
}

@media (orientation: portrait) {
  #app-container {
    flex-flow:  column;
    max-width: $max-app-size - $menu-size;
    max-height: $max-app-size;
    height: 100vh;

    jr-menu {
      height: $menu-size;
      width: auto;
    }
  }
}
