<div id="canvasses-container" [ngStyle]="{'transform': transformation}">
  <div id="canvasses" [ngStyle]="{'transform': rotation, 'width': canvasWidth + 'px', 'height': canvasHeight + 'px'}" jrSaveToFile>
    <canvas id="image-canvas" jrImage #image>Je browser is niet geschikt deze webtool.</canvas>
    <canvas id="watermark-canvas" jrWatermark #watermark [attr.width]="canvasWidth" [attr.height]="canvasHeight"></canvas>
    <div jrDraw #draw="draw">
      <canvas id="view-canvas" #view [attr.width]="canvasWidth" [attr.height]="canvasHeight"></canvas>
      <canvas id="temp-canvas" #temp (mousedown)="draw.startLine($event)" (mousemove)="draw.drawLine($event)" (mouseup)="draw.endLine($event)" [style.pointer-events]="true ? 'auto' : 'none' " [attr.width]="canvasWidth" [attr.height]="canvasHeight"></canvas>
    </div>
  </div>
</div>
