#view {
  pointer-events: none;
}

#canvasses {
  position: relative;
}
#view-canvas, #temp-canvas, #image-canvas, #watermark-canvas {
  position:  absolute;
}

#watermark-canvas {
  pointer-events:none;
}